@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Inter", sans-serif;
}

input[type="text"] {
	@apply border border-slate-300 rounded px-1.5 py-1;
}

body {
	@apply lg:text-sm;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-5px);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(5px);
	}
}

.dropdown-down,
.dropdown-up {
	animation-fill-mode: forwards;
}

.dropdown-down.enter {
	animation-name: fadeInDown;
	animation-duration: 0.1s;
}

.dropdown-down.exit {
	animation-name: fadeOutUp;
	animation-duration: 0.1s;
}

.dropdown-up.enter {
	animation-name: fadeInUp;
	animation-duration: 0.1s;
}

.dropdown-up.exit {
	animation-name: fadeOutDown;
	animation-duration: 0.1s;
}

.modal.enter {
	animation-name: fadeInUp;
	animation-duration: 0.1s;
}

.modal.exit {
	animation-name: fadeOutDown;
	animation-duration: 0.1s;
}

/* Basic styling */
[type="checkbox"] {
	width: 1rem;
	height: 1rem;
	color: rgb(167, 215, 159);
	vertical-align: middle;
	-webkit-appearance: none;
	background: none;
	border: 0;
	outline: 0;
	flex-grow: 0;
	border-radius: 0.15rem;
	background-color: #ffffff;
	transition: background 25ms;
	cursor: pointer;
}

/* Pseudo element for check styling */

[type="checkbox"]::before {
	content: "";
	color: transparent;
	display: block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	border: 0;
	background-color: transparent;
	background-size: contain;
	box-shadow: inset 0 0 0 1px #ccd3d8;
}

/* Checked */
[type="checkbox"]:checked {
	background-color: currentcolor;
}

[type="checkbox"]:checked::before {
	box-shadow: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

[type="checkbox"]:disabled {
	opacity: 0.84;
	cursor: not-allowed;
}

/* IE */
[type="checkbox"]::-ms-check {
	content: "";
	color: transparent;
	display: block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	border: 0;
	background-color: transparent;
	background-size: contain;
	box-shadow: inset 0 0 0 1px #ccd3d8;
}

[type="checkbox"]:checked::-ms-check {
	box-shadow: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
